/****** En-tête de page ******/
header {
    // font-family: 'shrikhand', sans-serif;
    text-align: center;
    // @include header-shadow;
    z-index: 1;
    padding: $padding;
    position: relative;
    & .fa-arrow-left {
            position: absolute;
            left: 10%;
            top: 25%;
        }
}


@media screen and (min-width:756px) {}

@media screen and (min-width:990px) {}

@media screen and (min-width:1200px) {}





