/****** En-tête de page ******/
header {
    // font-family: 'shrikhand', sans-serif;
    text-align: center;
    // @include header-shadow;
    z-index: 1;
    padding: $padding;
    // position: relative;
    & .fa-arrow-left {
            position: absolute;
            left: 10%;
            top: 25%;
        }
}

// /*********** En-tête ********/
// .header-menu {
//     position: relative;

//     & .fa-arrow-left {
//         position: absolute;
//         left: 10%;
//         top: 25%;
//     }
// }
// /* Styles pour la première page */
// @page :first {
//     .fa-arrow-left {
//         display: none;
//         /* Masquer l'élément sur la première page */
//     }
// }

// /* Styles pour les pages suivantes (y compris la deuxième) */
// @page :first {
//     .fa-arrow-left {
//         display: block;
//         /* Afficher l'élément sur les pages suivantes */
//     }
// }

@media screen and (min-width:756px) {}

@media screen and (min-width:990px) {}

@media screen and (min-width:1200px) {}





