/****** En-tête de page ******/
header {
    font-family: 'shrikhand', sans-serif;
    text-align: center;
    @include header-shadow;
    z-index: 1;
    padding: $padding;
    // position: relative;
}    

@media screen and (min-width:756px) {}

@media screen and (min-width:990px) {}

@media screen and (min-width:1200px) {}





