/*********** En-tête ********/
.header-menu {
    position: relative;
    // box-shadow: unset;

    & .fa-arrow-left {
        position: absolute;
        left: 10%;
        top: 50%;
    }

    // & .shadow-bar {
    //     box-shadow: unset;
    // }
}

@media screen and (min-width:756px) {}

@media screen and (min-width:990px) {
    header {
       padding: 3rem 1.5rem;
    }
}

@media screen and (min-width:1200px) {}