/****** Section Fonctionnement ******/
.functioning-container {
    padding: $padding;
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;

    &__btn-function {
        display: flex;
        align-items: center;
        gap: 10%;
        font-weight: bold;
        width: 97%;
        height: 4.5rem;
        background-color: $light-grey;
        border-radius: 1.2rem;
        border: 0.5rem;
        box-shadow: 0 4px 15px 0 rgba($color: #000000, $alpha: 0.15);
        margin-bottom: 1.5rem;
        margin-right: auto;
        margin-left: 0.8rem;

        & .icon-nbr {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: small;
            font-weight: 400;
            width: 1.5rem;
            height: 1.5rem;
            color: white;
            background: $purple;
            border-radius: 50%;
            margin-left: -0.8rem;
        }

        & .fa-store {
            color: $purple;
        }
    }
}

.functioning-container a:hover {
    @include hover-effect;
    box-shadow: 0 4px 15px 0 rgba($color: #000000, $alpha: 0.2);
}

@media screen and (min-width:756px) {
    .functioning-container {
        @include index-layout;
    }

    .functioning-container__layout {
        display: flex;
        flex-direction: row;
        gap: 2%;

    }


}

@media screen and (min-width:990px) {}

@media screen and (min-width:1200px) {}