/****** General ***********/


:root {
    $purple: #9356DC;
    $pink: #FF79DA;
    $light-green: #99E2D0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    margin: 0;
}


.main-container {
   @include main-flex;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    object-fit: cover;
}

