/****** General ***********/


:root {
    $purple: #9356DC;
    $pink: #FF79DA;
    $light-green: #99E2D0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    margin: 0;
}


.main-container {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    width: 100%;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    object-fit: cover;
}

