/*********** En-tête ********/
.header-menu {
    position: relative;

    & .fa-arrow-left {
        position: absolute;
        right: 90%;
        top: 40%;
    }
}

.menus-container {
    background: $light-grey;
}

// ******* Bannière *******/
.menus-container .banner {
    & img {
        width: 100%;
        height: 17.1rem;
        padding: 0;
    }
}

// ****** Carte du restaurant *****/
.main-menus {
    display: flex;
    flex-direction: column;
    padding: $padding;
    // position: relative;
    // border-radius: 1.2rem 1.2rem 0 0;
    margin-top: -3rem;

    h2 {
        font-family: 'shrikhand', sans-serif;
        font-size: 1.8rem;
    }

    .title-restaurant {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .fa-heart {
            font-size: 1.5rem;
        }
    }

    .titled span {
        display: block;
        width: 2.5rem;
        height: 2px;
        background: $light-green;
    }
}

// .menu .titled {
//     margin-top: 2.5rem;
// }

.menu .titled {
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
}

.btn-plate {
    display: flex;
    flex-direction: column;
    background: white;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0 15.4px 4.01px 0 rgba($color: #000000, $alpha: 0.1);

    .plate {
        font: size 17px;
    }

    .btn-plate__side-price {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding-top: 0;
        padding-right: 0.7rem;

        .side-dish {
            font-size: 15px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding-top: 0.3rem;
            padding-bottom: 0.5rem;
            margin: 0;

        }
    }


}

/******** Bouton Commander *******/
.order {
    display: flex;
    justify-content: center;

    .btn-order {
        font-size: 1rem;
        color: white;
        background-image: linear-gradient(to top, $purple, $pink );
        height: 3.1rem;
        width: 13.6rem;
        border-radius: 1.5rem;
        border: none;
        box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.25);
        margin-bottom: 3rem;
        margin-top: 2rem;
    }

    .btn-order:hover {
        background-image: linear-gradient(to bottom, $purple, $pink );
    }
}