@mixin hover-effect {
    transform: scale(1.01);
}

@mixin animated-heart {
    font-size: 1.5rem;
    font-weight: bold;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 1.5s ease-in-out;
    background-image: linear-gradient(to bottom, $purple, $pink );
}

@mixin ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin menu-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 39.6rem;
    margin-left: auto;
    margin-right: auto;
    gap: 0.75rem;
}

@mixin index-layout {
    // max-width: 66rem;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    
}

@mixin transition-checks {
    transition: all 500ms ease-in-out;
}

@mixin main-flex {
    display: flex;
        flex-direction: column;
        min-width: 320px;
        width: 100%;
        box-sizing: border-box;
}