@mixin header-shadow {
    box-shadow: 0 6px 15px lightgrey;
}

@mixin hover-effect {
    transform: scale(1.1);
} 

@mixin animated-heart {
    font-size: 1.5rem;
        font-weight: bold;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        transition-duration: all 1.2s;
        background-image: linear-gradient(to bottom, $purple, $pink );
}

@mixin ellipsis {
    text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
}

